{% extends 'base.html' %}

{% block content %}
<h2>Détails de la conférence</h2>

<div class="card p-4 shadow-sm">
    <h4>{{ conference.name }}</h4>
    <p><strong>Date début :</strong> {{ conference.start_date }}</p>
    <p><strong>Date fin :</strong> {{ conference.end_date }}</p>
    <p><strong>Description :</strong> {{ conference.description }}</p>

    <a href="{% url 'conference_liste' %}" class="btn btn-secondary mt-3">Retour</a>
<a href="{% url 'submission_create' conference.pk %}" class="btn btn-success mt-3">Ajouter une soumission</a>

</div>

{% endblock %}
